/**************************************
STATIC LAYOUT CSS FOR HEADER & FOOTER
**************************************/
wrapper {
  width: 100%; // can designate in px too, ex 960px
  margin: 0 auto; // margin “auto” keeps it centered (0 = at the top 0 margin, auto is centered in the middle)
  /* padding: 200px 200px; */
}

innerWrapper {
  padding: 30px;
}

.headerImg {
background-color: rgba(255, 255, 255, 0.3); // red with opacity
}

body, html {
  height: 100%;
  font-family: "Candara", sans-serif;
  /*background-color: #fffafa; */
  /* off white */
  /* #65826d; */
  /* green */
  /* color of entire site background */
}

footer {
  min-height: 100px;
  /* will not resize when shrinking browser window */
  width: 100%;
  color: black;
}

header {
  display: table; /* will emable us to center content by formatting as a table*/

  /* so window doesnt shrink smaller than header text when window is small */
  min-width: 100%;
  min-height: 500px;
  height: 90%;
  /* will not resize when shrinking browser window */

  color: black;

  text-align: center;
  overflow: hidden;
  /* background-image: url('./resources/web_imgs/RedRocks_Fox.jpg'); */

  background-image: url('./resources/web_imgs/GreekIslands.jpg');
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(40%) brightness(120%);
  background-size: cover;
   vertical-align: center;
  /*  padding: 8%; */
  /* gives logo and title space */
  /*  box-sizing: border-box; */
  /* https://www.w3schools.com/css/css3_box-sizing.asp */
  /* line on the bottom */
  /*  margin: 20px; */
  /* background image */
}

headerText {
  min-width: inherit;
  position: relative;
  white-space: nowrap;

}

.centered {
  display: table-cell;
  vertical-align: middle;
}


/**************************
  SECTION HEADER STYLES
***************************/
.sectHeader {
  /*  min-width: 100%; */
  /*  overflow: hidden;  contain floats */
  width: 100%;
/*  background-color: black; */
/*  color: white; */
  float: left;
  padding-left: 20px;
  /* manually center text */
  /*  border-top: thick double black; */
  border-top: 6px solid black;
/*  border-bottom: 6px solid black; */
  /*  bottom: 10px; */
  /* gap between bottom of element and the element below it */
}

.sectHeader t {
  width: 80%;
  margin: 0 auto;
  padding: 40px 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 8px;
  font-size: 1.2em;
}

/**************************************
STATIC LAYOUT CSS FOR BODY AREA
**************************************/
.clubInfoText {
  padding: 50px;
  /* space between info container and the text ending/starting */
}

.ulList {
  list-style-type: none;
}

.testSpacing {
  margin-top: 300px;
}

.testSpacing li {
  font-family: "Candara", sans-serif;
  font-size: 1em;

}


.testListNoImg {
  color: black;
}

.backgndEBACInfo {
  background-image: url('./resources/web_imgs/ElCapitan_cloudy.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(90%) brightness(120%);
  color: white;
}

.backgndResources {
  background-image: url('./resources/web_imgs/GreekIslands.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(90%);
}

.sectionSegments {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
    /* need to set display type to set wifth*/
  /* display: inline-block;
  background-color: inherit;

  padding-left: 10%;
  padding-right: 10%;
  justify-content: center; */


  /*  width: 90%; */
  /* color: white; */
  /*  max-width: 80%; */
  /*padding: 70px; */
  /* padding */
}

.sideBySideSegments {
  width: 100%;
  overflow: hidden;
  /* need to set display type to set wifth*/
  display: inline-block;
  background-color: inherit;

  /*
  padding-left: 10%;
  padding-right: 10%; */
  /* padding */
  justify-content: center;

}
/* Column container */
.bodyRow {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 25%;
  background-color: #f1f1f1;
  padding: 50px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 30px;
}


.sideMap {
  flex: 30%;
  background-color: #B39F9F;
  padding: 0px 50px;
}

/* Main column */
.mainMapText {
  flex: 50%;
  /* background-color: #663500; */ /* dark brown*/
  /* background-color: #986554; */ /* light brown*/
  background-color: #B39F9F;  /* red brown*/
  padding: 30px;
}

/**************************
  NAVBAR
***************************/
/* Position the navbar to the top of the page */
.navbar-container {
  position: absolute;
  /* margin: 20px; */
  justify-content: flex-end;
  align: right;
  width: auto;
  right: 0px;
  height: auto;
  z-index: 10;
  /* width: 300px; */

  /* <-- will keep navbar overlayed on top of any other site imgs */
}


/* #navbar {
  align: right; */

  /*background-color: #333; */
  /* Black background color */
 /* position: fixed; */ /* fixed position sticks to top of page no matter where scroll is */
  /* Make it stick/fixed */

  /* Stay on top */
/*  transition: top 0.3s; */
  /* Transition effect when sliding down (and up) */
/* } */

/* The navbar */
.topnav {
  align: right;
  top: 0;
  right: 30px;
  /* float: right; */
  /*   background-color: #333; */
  overflow: hidden;
  z-index: inherit;

}

/* Navbar links */
.topnav a {
  float: left;
  /* order off list (top list member on left vs right)*/
  color: #f2f2f2;
  -webkit-text-stroke: .5px black;

  /*   color: white; */
  text-align: center;
  padding: 14px 20px;
  /*   */
  text-decoration: none;
  font-size: 17px;
  z-index: inherit;
  font-weight: bold;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/**************************
CSS TO Make Google Map API
**************************/

/* Set the size of the div element that contains the map */
#map {
  /* height: inherit; */
  /* The height is 400 pixels */
  /* width: inherit; */
  /* The width is %  width of the web page */
  min-width: 350px; /* will work on laptop with 300*/
  min-height: 400px;
}

#myImg:hover {
  opacity: 0.7;
}

/**************************
 IMAGE GALLERY: DISPLAY ALL IMGS ON ONE PAGE
***************************/

.galleryImg {
  /* image will scale down if it has to (ex if browser window is resized),
   but never scale up to be larger than its original size, */
/*  max-width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  */
 display: block;
 width: 100%;
 height: auto;
 transition: 0.3s;

}


/* Use CSS Flexbox to create responsive layout */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  box-sizing: border-box;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/**************************
IMAGE GALLERY: OVERLAY TEXT ONTO IMG
***************************/
/* When you mouse over the container, fade in the overlay title */
.galleryImg:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.8;
}

/* upon hovering over any part of image (.galleryImg), caption will appear (.overlay) */
.galleryImg:hover~.overlay{
  /*  display: block; */
  opacity: 1;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 15px;
  padding: 8px;
  text-align: center;
}
/*
.overlay:hover {
  opacity: 1;
} */
/* Bottom text */
.bottomOverlay {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Container needed to position the overlayed caption. Adjust the width as needed */
/* galleryContainer attriubutes copied from glleryImg */
.galleryContainer {
  opacity: 1;
  max-width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  position: relative;
  color: white;
}

.galleryContainer:hover {
  opacity: 1;
}

.gallery {
  display: none;
    right: 100px;
}
/**************************
gallery
***************************/
.galleryButton
{
text-align: center;
align-self: center;

}
/* Caption text */
.captionText {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/**************************
Images: Horiz Scrolling
***************************/
/* scrolling-wrapper-flexbox */
.horizontalSlideshow {
  margin: 10px 5%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  max-height: 70%;

 }
  .card {
    flex: 0 0 auto;
    animation: horizontalSlideshow 10s linear infinite;
  }
}
@keyframes horizontalSlideshow {
  0%    { left: 0; }
  100%  { left: -200%; }
}

.horizontalSlideshow div img {
display: inline-block;
 max-height: 100%;
 min-height: 100%;
 height: auto;
 width: auto;
 margin: 0px 1px;

}


/**************************
IGNORE TODO DELETE
***************************/
.testBackground {
  /* padding sets extra space around the textblock area */
  /* background color */
  background-image: url('./resources/web_imgs/ElCapitan_cloudy.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*  filter: grayscale(90%) brightness(120%); */
  color: black;
}

/* backfround image stays static and the text over top scrolls over it */
.backgroundImageStyle {
  background: url('./resources/web_imgs/ElCapitan_cloudy.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.divStyle {
  text-align: justify;
  -webkit-column-gap: 40px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 40px;
  /* Firefox */
  column-gap: 40px;
  margin-bottom: 10px;
}
