

/*
body {background-color: powderblue;}
h1   {color: blue;}
p    {color: red;}
*/
header {
  background-color: #F1F1F1;
  text-align: left;
  padding: 20px;
}

wrapper {
  width: 100%; // can designate in px too, ex 960px
  margin: 0 auto; // margin “auto” keeps it centered (0 = at the top 0 margin, auto is centered in the middle)
  padding: 200px 200px;
}


/**************************************
STATIC LAYOUT CSS
**************************************/

/*
.wrapper {
  width: 100%; // can designate in px too, ex 960px
  margin: 0 auto; // margin “auto” keeps it centered (0 = at the top 0 margin, auto is centered in the middle)
}


header {
  width: 960px;
}


nav, section {
  float: left; // float left means that containers will come up next to each other (left -> right) instead of coming up on top of each other
}

nav {
  width: calc(20% - 20px);;
  margin-right: 20px;
}

section {
  width: 80%;
} */

/* these 2 added from w3 schools ex:
https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_cafe */
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}
.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/coffeehouse.jpg");
  min-height: 75%;
}

.menu {
  display: none;
}

/**************************************
CSS TO MAKE THIS SITE LOOK PRETTY
**************************************/

/*
*, *:before,  *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #2980b9;
  color: #FFF;
  font-family: Helvetica;
  text-align: center;
  margin: 0;
}

header,
nav,
section {
  border: 1px solid rgba(255,255,255,0.8);
  margin-bottom: 10px;
  border-radius: 3px;
}

header {
  padding: 20px 0;
}

nav, section {
  padding: 200px 0;
}

info {
  class="w3-display-left";
}
*/

/**************************************
CSS TO MAKE TEXT OVERLAY OVER IMAGES
**************************************/
/* Container holding the image and the text */

/*
.container {
  position: relative;
  text-align: center;
  color: white;
} */

/* Bottom left text */
/*
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
} */


/* Top left text */
/*
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
} */

/* Top right text */
/*
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}*/

/* Bottom right text */
/*
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}*/

/* Centered text */
/*
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

/**************************************
CSS TO MAKE IMAGE GALLERY LAYOUT
**************************************/

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
